body {
    background-image: linear-gradient(to top right, rgba(255,56,103), rgba(255,200,155), rgba(211,126,198));
    padding: auto;
    margin: auto;
}
.fondo {
    width: 300px;
    height: 200px;
}
.avatar{
    width: 128px;
    height: 128px;
    display: inline-flex;
    position: relative;
}